@font-face {
    font-family: agency;
    src: url("./fonts/agency.ttf");
}
@font-face {
    font-family: zrnic;
    src: url("./fonts/zrnic.ttf");
}
:root{
    --v-font-color: rgb(211, 217, 238);
    --v-backgroung-color: #3aaaff;
    --v-font-size: 20px;
}
*{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--v-font-size);
    font-weight: 300;
}
body{
    background-color: rgb(215, 215, 255);
    justify-content: center;
}

/* HEADER  */
header{
    animation: ease skills-anime 20s infinite;
    display:flex;
    height: 90px;
    width:100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #3aaaff;
    color:rgb(211, 217, 238);
    background-image: linear-gradient(90deg,black,#3aaaff), url("./img/background-1.webp");
    background-size: cover;
    background-blend-mode: multiply;
    
}
.logo{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    margin-left: 20px;
    height:100%;
}
.menu{
    display:flex;
    align-items: center;
    width:80%;
    justify-content: flex-end;
    margin-right: 10px;
}
.menu li{
    display:inline-block;
    color:rgb(211, 217, 238);
    padding: 10px 20px;
    

}
.menu li a{
    text-decoration: none;
    color:#3aaaff;
    font-weight: 400;
}

/* MAIN */
.img-banner-display{       
    background-image: url("./img/background-3.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: ease skills-anime 20s infinite;
    display:flex;
    width:100%;
    max-width: 900px;
    margin:0 auto;
    height: 60vh;
    overflow: hidden;
    background-position: center;
    justify-content: center ;
    flex-direction: column;
}
.img-banner-container {
    position:relative;
    display: block;
    margin: 0 auto;
}
#img-banner{
    height:60vh;
    max-width: 900px;
    width: 900px;
}
.text-banner{
    color:rgb(211, 217, 238);
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-shadow: 1px 2px 3px black, -1px -2px 3px black;
}

/* CONTAINER  */
.container{
    max-width:900px;
    display:flex;
    margin:0 auto;
    flex: 1;
    /* margin-top: px; */
}

/* ASIDE  */
aside{
    position:relative;
    display:inline-block;
    width:20%;   
}
.left-aside{
    width:20%;
    display:flex;
    text-decoration: none;
    list-style: none;
    display:block;
}
.left-aside-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    height: 60vh;
    background-image: linear-gradient(black, #143752 50%);
}
.left-aside-menu li{
    color:rgb(211, 217, 238);
    width:80%;
    font-weight: 500;
    line-height: 1.5rem;
    margin-left: 15px;
}
.description{
    animation: ease skills-anime 20s infinite;
    width:80%;
    display:flex;
    text-decoration: none;
    background-image: linear-gradient(black, #143752 20%);
    color: var(--v-font-color);
    align-items: center;
}
.description p{
    font-weight: 200;
    padding: 15px;
}

/* SKILLS  */
#skills{
    animation: ease skills-anime 10s infinite;
    transition: ease 500ms;
    display:flex;
    padding: 3rem 0;
    flex-direction: column;
    flex-shrink: 1;
    max-width:900px;
    margin: 0 auto;
    /* background-position: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg,#143752, var(--v-backgroung-color));
}
#skills-triade{
    display:flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}
#skills-triade img{
    transition: ease 200ms;
    display:flex;
    width: 30%;
    min-width: 100px;
    max-width: 150px;
    margin: 1rem;
}
#skills-triade img:hover{
    transition: ease 200ms;
    transform: scale(1.03);
}

#skills-adobe{
    display:flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: center;
}
#skills-adobe img{
    transition: ease 200ms;
    width: 160px;
    width: 30%;
    min-width: 100px;
    max-width: 150px;
    margin: 1rem;
}
#skills-adobe img:hover{
    transition: ease 200ms;
    transform: scale(1.03);
}

@keyframes skills-anime {
    0%{
        background-size: 100%;
        transform: translateX(-10);
        
    }
    50%{
        background-size: 110%;
        transform: translateX(0);
    }
    100%{
        background-size: 100%;
        transform: translateX(-10);
    }
}

@keyframes main-anime {
    0%{
        background-size: 123%;
        transform: translateX(-0);
        
    }
    50%{
        background-size: 100%;
        transform: translateX(-10);
    }
    100%{
        background-size: 123%;
        transform: translateX(0);
    }
}

/* FOOTER  */
footer{
    max-width:900px;
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
    height:20vh;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-image: linear-gradient(180deg,var(--v-backgroung-color)10%, var(--v-font-color)), 
    url("./img/background-1.webp");
}
footer a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:110px;
    margin: 0 20px;
    text-shadow: 1px 2px 2px black, 1px 1px 1px gray;
    text-decoration: none;
    cursor:pointer;
}
footer a:visited{
    color:#90cefd;
}
footer img{
    height: 50px;
    padding: 15px;
}    
    