@font-face {
    font-family: agency;
    src: url("./fonts/agency.ttf");
}
@font-face {
    font-family: zrnic;
    src: url("./fonts/zrnic.ttf");
}
:root{
    --v-font-color: rgb(211, 217, 238);
    --v-backgroung-color: #3aaaff;
    --v-font-size: 22px;
    --v-font-family: zrnic;
}
*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0;
    padding:0;
    font-family: var(--v-font-family);
    font-size: var(--v-font-size);
    font-weight: 400;
}
body{
    background-color: rgb(215, 215, 255);
    justify-content: center;
}

/* HEADER  */
header{
    display:flex;
    height: 90px;
    width:100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #3aaaff;
    color:rgb(211, 217, 238);
    background-image: linear-gradient(90deg,black,#3aaaff), 
                      url("./img/background-1.webp");
    background-size: cover;
    background-blend-mode: multiply;
}
.logo{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    margin-left: 20px;
    height:100%;
}
.menu{
    display:flex;
    align-items: center;
    width:80%;
    justify-content: flex-end;
    margin-right: 10px;
}
.menu li{
    display:inline-block;
    color:rgb(211, 217, 238);
    padding: 10px 20px;
}
.menu li a{
    text-decoration: none;
    color:#3aaaff;
}

/* MAIN */
.img-banner-display{
    display:flex;
    width:100%;
    max-width: 900px;
    margin:0 auto;
    height: 60vh;
    overflow: hidden;
    background-position: center;
    justify-content: center ;
    flex-direction: column;
}

.img-banner-container {
    position:relative;
    display: block;
    margin: 0 auto;
}

#img-banner{
    height:60vh;
    max-width: 900px;
    width: 900px;
}
.text-banner{
    color:rgb(211, 217, 238);
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-shadow: 1px 2px 3px black, -1px -2px 3px black;
}

/* CONTAINER  */
.container{
    max-width:900px;
    display:flex;
    margin:0 auto;
    flex: 1;
    margin-top: -3px;
}

/* ASIDE  */
aside{
    position:relative;
    display:inline-block;
    width:20%;   
}
.left-aside{
    width:20%;
    display:flex;
    text-decoration: none;
    list-style: none;
    display:block;
}
.left-aside-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    height: 60vh;
    background-image: linear-gradient(black, #143752 50%);
}
.left-aside-menu li{
    color:rgb(211, 217, 238);
    width:80%;
    line-height: 1.5rem;
    margin-left: 15px;
}
.description{
    width:80%;
    display:flex;
    text-decoration: none;
    background-image: linear-gradient(black, #143752 20%);
    color: var(--v-font-color);
    align-items: center;
}
.description p{
    padding: 15px;
}

/* SKILLS  */
.skills{
    display:flex;
    padding: 3rem 0;
    flex-direction: column;
    flex-shrink: 1;
    max-width:900px;
    margin: 0 auto;
    background-image: linear-gradient(180deg,#143752, var(--v-backgroung-color));
}
.skills-triade{
    display:flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}
.skills-triade img{
    transition: ease 200ms;
    display:flex;
    width: 30%;
    min-width: 100px;
    max-width: 150px;
    margin: 1rem;
}
.skills-triade img:hover{
    transition: ease 200ms;
    transform: scale(1.03);
}

.skills-adobe{
    display:flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-adobe img{
    transition: ease 200ms;
    width: 160px;
    width: 30%;
    min-width: 100px;
    max-width: 150px;
    margin: 1rem;
}
.skills-adobe img:hover{
    transition: ease 200ms;
    transform: scale(1.03);
}

/* FOOTER  */
footer{
    max-width:900px;
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
    height:20vh;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* margin-top: -3px; */
    /* box-shadow: 0 -8px 10px var(--v-font-color); */
    /* background-image: linear-gradient(180deg, white,#498dc1); */
    background-image: linear-gradient(180deg,var(--v-backgroung-color),var(--v-font-color)), 
    url("./img/background-1.webp");
}
footer a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:150px;
    text-shadow: 1px 2px 3px black, 1px 1px 1px black;
    text-decoration: none;
}
footer a:visited{
    color:#3aaaff;
    
}
footer img{
    height: 50px;
    padding: 15px;
    
}    
    